<h2>Factura No. {{bill.id}}</h2>
{{#bill-summary bill=bill}}
    <p>
        <strong>Apartamento (Residente):</strong>
        <span class="text-capitalize"> 
            {{bill.apartment.name}} 
            ({{bill.apartment.resident.name}})
        </span>
    </p>
{{/bill-summary}}