<div class="panel panel-default panel-dashboard">
    <div class="panel-body">
        <div class="row"> 
            <div class="col-xs-2">
                <img class="dashboard-icon" src="{{rootURL}}/{{icon}}">
            </div>
            <div class="col-xs-10 text-right">
               {{yield}}
            </div>
        </div>
    </div>
</div>



