{{#if bill.paymentMethod}}
    <p>
        <strong>Forma de Pago:</strong>
        <span class="text-capitalize"> {{translate bill.paymentMethod}}</span>
    </p>

    <button type="button" class="thumbnail" {{action "toggleResize"}}>
        <img src="{{proofOfPaymentImg}}" class="btn img-responsive img-small {{if imgBig 'img-big'}}">
    </button>
{{/if}}
