.body {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-custom {
    background-color: white;
    border-style: none;
}

.form-login {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.font-lg {
    font-size: 30px;
}

.hero {
    color: white;
    background-color: #207EA9;
    background-repeat: no-repeat;
    padding-bottom: 110px;
    padding-top: 70px;
}

.hero h2 {
    font-size: 38px;
}

.hero p {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.hero a {
    padding:10px 30px 10px 30px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.header-with-divider {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;
}

.padded-bottom {
    padding: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.margin-box {
    margin-top: 10px;
    margin-right: 10px;
}


.monthly-balance {
    padding-bottom: 25px;
}

.summary {
    border-bottom: 1px solid #bce8f1;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.img-preview {
    width: 150px;
    height: 150px;
}

.img-small {
  cursor: zoom-in;
  width: 150px;
  height: 150px;
}

.img-big {
  cursor: zoom-out;
  width: 100%;
}