.big-text {
    font-size: 25px;
}

.header-with-divider {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;
}

.padded-bottom {
    padding: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.monthly-balance {
    padding-bottom: 25px;
}

.summary {
    border-bottom: 1px solid #bce8f1;
    padding-bottom: 10px;
    padding-top: 10px;
}
