<h2>Facturas Pagadas por Confirmar</h2>

{{#search-panel results=model noResultsMsg='No hay facturas por confirmar'}}
    {{#each model as |bill|}}
        {{condo-bill-list-item view-link='condo.unconfirmed-bill' bill=bill}}
    {{/each}}
{{/search-panel}}