<div class="container">
    <div class="row">
         <div class="col-xs-12">
            <h2>Selecciona un Condominio</h2>
         </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group-vertical btn-group-lg" role="group">
                {{#each model as |condo|}}
                    {{#link-to "condo" condo.id class="btn btn-default"}}
                        {{condo.name}}
                    {{/link-to}}
                {{/each}}          
            </div>
        </div>
    </div>
</div>
{{outlet}}
