<div class="jumbotron hero">
  <div class="container text-center">
      <h1>Tu condominio. 24/7 para residentes y administradores</h1>
      <p>Balance al dia del flujo de efectivo. Administraci&oacute;n colaborativa para residentes y administradores.</p>
      <a class="btn btn-lg btn-info" href="#begin-now" role="button">Empieza Ahora</a>
  </div>
</div>

<div class="container features-summary-container">
    <div class="row">
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-dashboard"></span> Tablero</h2>
          <p>Consulta el balance general y mensual de tu condominio en tiempo real. 
          </p>
          <p><a class="btn btn-default" href="#dashboard-details" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-list-alt"></span> Facturas</h2>
          <p>Consulta las facturas de tu condomino. Paga tus facturas ordinarias y extraordinarias.</p>
          <p><a class="btn btn-default" href="#invoice-details" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-credit-card"></span> Gastos</h2>
          <p>Enterate donde va el dinero que contribuyes: Seguridad, Limpieza, Mantenimiento, Reparaci&oacute;n...</p>
          <p><a class="btn btn-default" href="#outlay-details" role="button">Ver detalles &raquo;</a></p>
        </div>
    </div>
</div>

<div class="container-fluid features-container">
  <div class="container">
    <a name="dashboard-details"></a>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading">Tablero. <small class="featurette-small-heading">Tu condominio en un vistazo</small></h2>
        <p class="lead">
          Balance general y balance del mes. Conoce cu&aacute;nto dinero se ha recaudado y gastado.
          V&eacute; las facturas pendientes de pago, las confirmadas y las rechazadas.
        </p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" src="{{rootURL}}/dashboard-big-icon.png" alt="Foto del Tablero">
      </div>
    </div>

    <a name="invoice-details"></a>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8 col-md-push-5">
        <h2 class="featurette-heading">Facturas. <small class="featurette-small-heading">Autom&aacute;ticas y m&aacute;s</small></h2>
        <p class="lead">Generaci&oacute;n autom&aacute;tica de facturas ordinarias para los pagos mensuales de los residentes. Creaci&oacute;n de facturas para pagos extraordinarios o espec&iacute;ficos por departamento.</p>
      </div>
      <div class="col-md-4 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{rootURL}}/bill-plain-icon.png" alt="Generic placeholder image">
      </div>
    </div>

    <a name="outlay-details"></a>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading">Gastos. <small class="featurette-small-heading">Egresos al día</small></h2>
        <p class="lead">
         Enterate donde va el dinero que contribuyes: Seguridad, Limpieza, Mantenimiento, Reparaci&oacute;n, etc. consultando el hist&oacute;rico de gastos.
        </p>

        <p class="lead">Los gastos de tu condominio son generados por el administrador exclusivamente.</p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" src="{{rootURL}}/outlay-big-icon.png" alt="Foto del Tablero">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</div>

<a name="begin-now"></a>
<div class="container">
  <div class="panel enroll-info-panel">
    <div class="panel-body text-center">
        <h1>Empieza Ahora</h1>
        <h3>
          Escr&iacute;benos a condopal@gmail.com para conocer nuestros planes de subscripci&oacute;n. Te asistiremos r&aacute;pida y atentamente.
        </h3>
    </div>
  </div>
</div>

<div class="container">
  <footer>
    <p class="pull-right"><a href="#">Volver Arriba</a></p>
    <p>&copy; 2017 SoftLab</p>
  </footer>
</div>


