<div class="jumbotron hero">
  <div class="container text-center">
      <h2>Tu condominio. 24/7 para residentes y administradores</h2>
      <p>Garantiza un balance al dia del flujo de efectivo. Simplifica la administraci&oacute;n permitiendo que los residentes realicen sus pagos.</p>
      <a class="btn btn-lg btn-default" href="#" role="button">Conocer m&aacute;s</a>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-dashboard"></span> Tablero</h2>
          <p>Consulta el balance general y mensual de tu condominio, los pagos y gastos realizados. 
          </p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-list-alt"></span> Facturas</h2>
          <p>Paga tus facturas como residente. Cuando el administrador las valide, se reflejan en el balance general y mensual del condominio.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-credit-card"></span> Gastos</h2>
          <p>Enterate donde va el dinero que contribuyes: Seguridad, Limpieza, Mantenimiento, Reparaci&oacute;n y otros.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
    </div>
</div>

