<div class="container">
    <div class="jumbotron">
        <h2>Seleccione un Edificio</h2>
        <div class="btn-group-vertical btn-group-lg" role="group">
            {{#each model as |building|}}
                {{#link-to "dashboard" building.id class="btn btn-default"}}{{building.name}}{{/link-to}}
            {{/each}}          
        </div>
    </div>
</div>
{{outlet}}
